title: 'San Francisco Perl Mongers 2014 Lightning Talks'
collection: 'sfperlmongers'
mediatype: 'movies'
scanner: 'VM Brasseur'
subject: 'lightning talks; perl; computer languages; computer programming; software development; golang; release management; versioning; education; lifehack; debian; community management; ebook; selenium'
